/CoffeeMachine/
/oop-coffee-machine-start/
/quiz-game-start/
/.idea/.gitignore
/Python/12+Rules+to+Learn+to+Code+eBook-Copyright+App+Brewery.pdf
/Python/Coding+Notebook+Sheets+to+Print.pdf
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/Python/Python+Syntax+Cheat+Sheet+Booklet+v2.pdf
/.idea/Python Projects.iml
/Python/Syllabus+for+100+Days+of+Python.pdf
/.idea/vcs.xml
